.container {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0 2rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: opacity 0.2s;
}

.container:hover {
  opacity: 0.9;
}

.searchButton {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
