.container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 5px;
  flex-direction: column;
  background-color: var(--white);
  width: 23%;
  margin: 1%;
}

.author,
.publishedby {
  color: var(--dark-gray);
  font-weight: 600;
}

.button {
  margin-top: auto;
}
